<h3>Kahanies Recommendation</h3>
<ul>
    <% kahanies.forEach((kahani) => { %>
        <li><%= kahani.title %></li>
    <% }) %>
</ul>

<h3>Stories Recommendation By Rating</h3>
<ul>
    <% stories.forEach((story) => { %>
        <li><%= story.title %></li>
    <% }) %>
</ul>

<h3>Nano Story Recommendation</h3>
<ul>
    <% nanoStories.forEach((nano) => { %>
        <li><%= nano.id %></li>
    <% }) %>
</ul>

