<h3>Kahanies Recommendation By Popularity</h3>
<form method="post" action="/popularity/recommendation">
    <label>Confirmation</label><br>
    <input type="text" name="user_id">
    <br><br>
    <input type="submit" value="Submit">
</form>